<!DOCTYPE html>
<html style="height: 100%;">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="EN" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Bluepage Info - Result</title>
		<link rel="stylesheet" href="/w3ds/w3ds.css" type="text/css">

		<!-- if data tables are required -->
		<link rel="stylesheet" href="/w3ds/w3ds-data-tables.css" type="text/css">
	
		<!-- if code syntax highlighting is required -->
		<link rel="stylesheet" href="/w3ds/w3ds-prism.css" rel="text/css" />

		<!-- JQuery from Google site -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body class="ds-has-sticky-footer">	
		<div class="ds-grid">
			<div class="ds-row">
				<div class="ds-col-12">
					<div class="ds-row ds-pad-t-3">
						<div class="ds-col-xs-10 ds-offset-xs-1 ds-pad-b-3">
							<!-- img src="../images/w3ds-logo.svg" class="ds-pad-b-1" alt="w3DS" -->
							<h1 class="ds-heading-md-2 ds-heading-lg-1">Bluepage Info - Result</h1>
							<p class="ds-mar-0">
<!--- w3ds template --->

<div class="ds-badge ds-secondary">
	Status: <%= status %>
</div>

<script nonce=<%- nonce %>>
	window.addEventListener("load", () => {
		document.getElementById("download").addEventListener("click", (e) => {
			download("/");
		});
	});
	
	const download = () => {
		source_file_name = "/download/<%= excel_file_name %>";
		download_file_name = "<%= excel_file_name %>";
	
		var dl = new XMLHttpRequest();
		dl.open("GET", source_file_name, true);
		dl.responseType = "blob";
		dl.onload = function (oEvent) {
			var blob = dl.response;
			var objectURL = window.URL.createObjectURL(blob);
	
			var link = document.createElement("a");
			document.body.appendChild(link);
			link.href = objectURL;
			link.download = download_file_name;
			link.click();
			document.body.removeChild(link);
		};
	
		dl.send();
	}
</script>

<h2>
<span class="ds-icon-menu" tabindex="0" role="text" aria-label="admin"></span>
Search Result
</h2>

<% if (result.length > 0) { %>
	<button class="ds-button _ds-basic ds-flat ds-small ds-width-auto ds-mar-0 ds-pad-0 _ds-pad-t-1" name="button" value="download" id="download">
		<span class="ds-icon-download">
			<span class="ds-icon-xls">
				Donwload Result File
			</span>
		</span>
	</button>
<% } %>

<% if (status == "success") { %>
<div class="ds-flex ds-flex-fill ds-flex-flex-start ds-flex-row ds-flex-nowrap ds-text-neutral-1">
	<div class="ds-mar-0 ds-pad-0 ds-col-2 ds-bg-contextual-blue-3">
		uid
	</div>
	<div class="ds-mar-0 ds-pad-0 ds-col-3 ds-bg-contextual-blue-3">
		preferredIdentity
		<br>
		nameDisplay
	</div>
	<div class="ds-mar-0 ds-pad-0 ds-col-2 ds-bg-contextual-blue-3">
		costCenter
		<br>
		Country
	</div>
	<div class="ds-mar-0 ds-pad-0 ds-col-2 ds-bg-contextual-green-3">
		functionalManager.uid
	</div>
	<div class="ds-mar-0 ds-pad-0 ds-col-3 ds-bg-contextual-green-3">
		functionalManager.preferredIdentity
		<br>
		functionalManager.nameDisplay
	</div>
</div>

<% for (i = 0; i < result.length; i++) { %>
<div class="ds-flex ds-flex-fill ds-flex-flex-start ds-flex-row ds-flex-nowrap">
	<div class="ds-mar-0 ds-pad-0 ds-col-2">
		<%= result[i].uid %>
	</div>
	<div class="ds-mar-0 ds-pad-0 ds-col-3">
		<%= result[i].preferredIdentity %>
		<br>
		<%= result[i].nameDisplay %>
	</div>
	<div class="ds-mar-0 ds-pad-0 ds-col-2">
		<%= result[i].costCenter %>
		<br>
		<%= result[i].co %>
	</div>
	<div class="ds-mar-0 ds-pad-0 ds-col-2">
		<%= result[i].functionalManager.uid %>
	</div>
	<div class="ds-mar-0 ds-pad-0 ds-col-3">
		<%= result[i].functionalManager.preferredIdentity %>
		<br>
		<%= result[i].functionalManager.nameDisplay %>
	</div>
</div>
<% } %>

<% } else { %>
	<span class="ds-text-contextual-red-3">
	Status Code : <%= error_info.status %>
	<br>
	Details : <%= error_info.error %>
	</span>
<% } %>


<form>
<div class="ds-button-group-h ds-row ds-mar-0 ds-pad-0 ds-mar-t-1">
	<button class="ds-button ds-basic ds-mar-b-0 ds-col-3" formmethod="get" formAction="/bluepage_info">
	<span class="ds-icon-arrow-left">
	Return</span></button>
</div>

</form>


<!--
	Styles for details tag
-->
<style>
	details summary.search {
		list-style: none;
		display: block;
		color: #000000;
	}
	
	details summary.list {
	  list-style: none;
	//  cursor: pointer;
	//  padding: 20px;
	//  background: #e4e4e4;
	  color: #8D8D8D;
	//  font-size: 2rem;
	//  font-weight: bold;
		display: block;
	}
	
	<!--
		for Safari and Chrome
	-->
	summary::-webkit-details-marker {
		display: none;
	}
	
	details summary::before {
		content: "+";
	}
	details[open] summary::before {
		content: "-";
	}
</style>

<details class="ds-pad-t-2">
	<summary class="list">
		<span class="ds-text-small ds-text-neutral-5">
		Result
		</span>
	</summary>
	<div class="ds-text-small ds-text-neutral-5">

	<span class="ds-text-small">
	<pre>
<%- JSON.stringify(result, null, "\t"); %>
	</pre>
	</span>
</details>


<!--- w3ds template --->
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="ds-sticky-footer ds-grid ds-bg-neutral-warm-2" style="width: 100%; height: 110px;" >
			<div class="ds-row">
				<h5 class="ds-offset-xs-1 ds-col-xs-10 ds-pad-t-2_5 ds-heading-5">
					<span class="ds-icon-github-l" style="vertical-align: middle;"></span>
					<a href="https://github.ibm.com/w3/w3DS" target="_blank" class="ds-text-neutral-6 ds-font-weight-light">w3DS on GitHub</a>
				</h5>
			</div>
		</footer>
		<script src="/w3ds/w3ds.js"></script>
	</body>
</html>